<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	<body>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="uk-container">
			<div class="uk-grid uk-padding">
				<div class="uk-width-1-1 uk-padding-remove uk-margin-remove">
                    <h2 class="uk-card-title">
                        {{ page.name }}</a>
                    </h2>
				</div>
				<div class="uk-card uk-card-default uk-padding-remove uk-margin uk-card-hover" style="width:264px;">
					<div class="uk-card-media-bottom" style="height: 352px">
						<!--
							<img src="{{ page.cover }}">
						-->
					</div>
				</div>
			</div>






			<div class="uk-width-1-1@m" id="game-content">

				{% assign reviews = site. articles | where_exp:"item", "item.navigation == 'review' and item.game-id == page.game-id" %}

				

				{% assign guide = site.articles | find_exp:"item", "item.navigation == 'main-page'" %}	
			
				<ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
					<li><a href="#">Análisis</a></li>
					<li><a href="#">Guía</a></li>
					
				</ul>
				
				<ul class="uk-switcher uk-margin">
					<li id="reviews">
						<ul uk-accordion="multiple: true">
							{% for review in reviews %}
							<li class="">
								<a class="uk-accordion-title" href="#">
									<div class="uk-card uk-padding-remove uk-margin-remove">
										<div class="uk-card-header uk-padding-remove uk-margin-remove">
											<div class="uk-grid uk-grid-match">
												<div class="uk-width-expand">
													<h3 class="uk-margin-remove uk-padding-remove">Análisis de {{page.name}}</h3>
													<h4 class="uk-margin-remove uk-padding-remove">por {{review.user-id}}</h4>
													<span class="uk-margin-remove uk-padding-remove">Publicado el {{review.date}}</span>
												</div>
												<div class="uk-background-primary uk-margin-remove uk-padding-remove uk-text-center uk-light" style="height:108px; width:108px">
													<span style="font-size: 70px">{{review.score}} </span>
												</div>
											</div>
										</div>
									</div>
								</a>
								<div class="uk-accordion-content">
									{{review.content}}
								</div>
							</li>
							<hr class="uk-divider-icon">
							{% endfor %}
						</ul>
					</li>
					<li id="guide">
						{{guide.content}}
					</li>
				</ul>
			</div>
		</div>		
	</body>