<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

{% include head.html %}
	<body>
		<!--[if lt IE 8]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<div class="uk-container">
			<div class="uk-grid uk-padding">
				<div class="uk-width-1-1 uk-padding-remove uk-margin-remove">
                    <h3 class="uk-card-title">
                        {{ page.name }}</a>
                    </h3>
				</div>
				<div class="uk-card uk-card-default uk-padding-remove uk-margin uk-card-hover" style="width:264px;">
					<div class="uk-card-media-bottom" style="height: 352px">
						<!--
							<img src="{{ page.cover }}">
						-->
					</div>
				</div>
			</div>






			<div class="uk-width-1-1@m">

				{% assign reviews = site.articles | where_exp:"item", "item.game-id == page.game-id" | "item.type == review" %}		


				<ul class="uk-subnav uk-subnav-pill" uk-switcher="animation: uk-animation-fade">
					<li><a href="#">Análisis</a></li>
					<li><a href="#">Guía</a></li>
					
				</ul>
				
				<ul class="uk-switcher uk-margin">
					<li id="reviews">
						<ul uk-accordion="multiple: true">
							{% for review in reviews %}
							<li class="">
								<div class="uk-card uk-padding-remove uk-margin-remove">
									<div class="uk-card-header uk-padding-remove uk-margin-remove" href="#">
										<div class="uk-grid">
											<div class="uk-width-2-3@m uk-background-secondary">
												2-3@m
											</div>
											<div class="uk-width-1-3@m uk-background-primary">
												1-3@m
											</div>
										</div>
									</div>
								</div>
								<hr class="uk-divider-icon">
								<div class="uk-accordion-content">
									{{review.content}}
								</div>
							{% endfor %}
						</ul>
					</li>
					<li id="guide"></li>

				</ul>






			</div>
		</div>		
	</body>